{% extends 'base.html.twig' %}

{% block title %}Batiment - Nouveau{% endblock %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/nicepage.css">
    <link rel="stylesheet" href="assets/css/Accueil.css">
    <link rel="stylesheet" href="/assets/css/form.css">
    <link rel="stylesheet" href="/assets/css/form.css">
    <link rel="stylesheet" href="/assets/css/dashboard_edit.css">
    <link rel="stylesheet" href="/assets/css/style.css">

{% endblock %}

{% set page_title = 'SmartCampus - Management' %}

{% block body %}
  <body class="u-body u-xl-mode" data-lang="fr">

  <section class="u-align-center u-clearfix u-image u-section-1" src="" id="carousel_deab">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-custom-color-1 u-opacity u-opacity-65 u-shape u-shape-circle u-shape-1"></div>
      <h2 class="u-text u-text-body-alt-color u-text-1">Projet</h2>
      <h1 class="u-color-scheme-u10 u-color-style-multicolor-1 u-text u-text-body-alt-color u-title u-text-2">Smart Campus</h1>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-5 u-section-2" id="carousel_029e">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-text u-text-custom-color-1 u-text-default u-text-1"> Le projet</h3>
        <p class="u-text  u-text-2"> L'application "Smart Campus" permet de gérer et surveiller la qualité de l'air dans les infrastructures de l'Université de La Rochelle. Elle utilise des capteurs pour mesurer les niveaux de CO2, d'humidité et de température dans les bâtiments universitaires. Les usagers peuvent consulter ces données en temps réel via l'application et prendre les mesures nécessaires pour maintenir une bonne qualité de l'air et des conditions de vie optimales. L'application inclut également des conseils et des astuces pour adopter des comportements écologiques et contribuer à l'amélioration de la qualité de l'air sur le campus. Avec "Smart Campus", l'Université de La Rochelle s'engage pour un environnement sain et confortable pour ses étudiants et son personnel. </p>
        <a href="/liste_batiments" class="u-active-custom-color-3 u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-custom-color-2 u-radius-50 u-btn-1">commencer</a>
      </div>
    </section>

  <section class="u-clearfix u-section-3" id="carousel_2618">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-image u-layout-cell u-left-cell u-size-33 u-image-1">
                    <div class="u-container-layout"></div>
                  </div>
                  <div class="u-container-style u-grey-5 u-layout-cell u-right-cell u-size-27 u-layout-cell-2">
                    <div class="u-container-layout u-container-layout-2">
                      <h4 class="u-text u-text-1"> Le but de l'application</h4>
                      <div class="u-border-7 u-border-custom-color-1 u-line u-line-horizontal u-line-1"></div>
                      <p class="u-text u-text-2"> Cette application permet à chaque usager des infrastructures de La Rochelle Université de suivre la qualité de l'air du campus, et les bons comportement à adopter.<br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-grey-5 u-layout-cell u-right-cell u-size-33 u-layout-cell-3">
                    <div class="u-container-layout u-container-layout-3">
                      <h4 class="u-text u-text-3"> Le projet smart campus</h4>
                      <div class="u-border-7 u-border-custom-color-1 u-line u-line-horizontal u-line-2"></div>
                      <p class="u-text u-text-4"> Le projet Smart Campus, en lien avec les smart cities, vise à construire un campus universitaire intelligent capable de s'adapter de manière autonome pour faire face aux enjeux de la transition climatique, écologique et numérique. L'objectif est de construire un campus bas carbone, durable, numérique, responsable et connecté, intégré dans une smart city. En coopérant avec les partenaires de l'Université, ils souhaitent ajouter une valeur à leur territoire en proposant des projets citoyens, sportifs, culturels et techniques. L'Université sera un lieu d'expérimentation pour identifier des experts et incuber des talents, mettre en place un système commun pour valoriser les données du campus et utiliser les compétences des chercheurs pour les processus d'aide à la décision. Les usagers de l'Université seront invités à participer en tant qu'usagers citoyens, à s'engager socialement, solidaires, culturellement et environnementalement, sensibiliser à leur impact sur l'environnement, favoriser le covoiturage et une mobilité responsable.<br>
                      </p>
                    </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-size-27 u-image-2">
                    <div class="u-container-layout"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-align-center u-clearfix u-custom-color-1 u-section-4" id="carousel_afc9">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-text u-text-1"> Les bons gestes à adopter...</h3>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-list-item u-radius-28 u-repeater-item u-shape-round u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-bottom-xl u-container-layout-1"><span class="u-icon u-icon-circle u-text-black u-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.011 496.011" style=""><use xlink:href="#svg-6235"></use></svg><svg class="u-svg-content" viewBox="0 0 496.011 496.011" x="0px" y="0px" id="svg-6235" style="enable-background:new 0 0 496.011 496.011;"><g><g><g><path d="M408,180.107c-4.418,0-8,3.582-8,8v263.904H16v-384h320c4.418,0,8-3.582,8-8s-3.582-8-8-8H8c-4.418,0-8,3.582-8,8v400     c0,4.418,3.582,8,8,8h400c4.418,0,8-3.582,8-8V188.107C416,183.688,412.418,180.107,408,180.107z"></path><path d="M493.728,30.411c-3.093-3.163-8.165-3.221-11.328-0.128L168.464,336.387L62.016,214.747     c-2.684-3.51-7.704-4.18-11.214-1.496s-4.18,7.704-1.496,11.214c0.218,0.286,0.456,0.556,0.711,0.81l112,128     c1.435,1.647,3.482,2.636,5.664,2.736H168c2.092,0.004,4.102-0.812,5.6-2.272l320-312     C496.763,38.646,496.821,33.574,493.728,30.411z"></path>

</svg></span>
                <p class="u-text u-text-2"> Aérer régulièrement la pièce. Cela permet de recycler l'air ambiant, déshumidifier la pièce, réguler la température et baisser le taux de CO2.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-radius-28 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-bottom-xl u-container-layout-2"><span class="u-icon u-icon-circle u-text-black u-white u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.011 496.011" style=""><use xlink:href="#svg-0c0f"></use></svg><svg class="u-svg-content" viewBox="0 0 496.011 496.011" x="0px" y="0px" id="svg-0c0f" style="enable-background:new 0 0 496.011 496.011;"><g><g><g><path d="M408,180.107c-4.418,0-8,3.582-8,8v263.904H16v-384h320c4.418,0,8-3.582,8-8s-3.582-8-8-8H8c-4.418,0-8,3.582-8,8v400     c0,4.418,3.582,8,8,8h400c4.418,0,8-3.582,8-8V188.107C416,183.688,412.418,180.107,408,180.107z"></path><path d="M493.728,30.411c-3.093-3.163-8.165-3.221-11.328-0.128L168.464,336.387L62.016,214.747     c-2.684-3.51-7.704-4.18-11.214-1.496s-4.18,7.704-1.496,11.214c0.218,0.286,0.456,0.556,0.711,0.81l112,128     c1.435,1.647,3.482,2.636,5.664,2.736H168c2.092,0.004,4.102-0.812,5.6-2.272l320-312     C496.763,38.646,496.821,33.574,493.728,30.411z"></path>

</svg></span>
                <p class="u-text u-text-3"> Réguler le chauffage. En fonction du nombre d'occupant d'une pièce, du nombre d'appareil émettant de la chaleur (comme des ordinateurs) la puissance de chauffage nécessaire varie.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-radius-28 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-bottom-xl u-container-layout-3"><span class="u-icon u-icon-circle u-text-black u-white u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.011 496.011" style=""><use xlink:href="#svg-5e74"></use></svg><svg class="u-svg-content" viewBox="0 0 496.011 496.011" x="0px" y="0px" id="svg-5e74" style="enable-background:new 0 0 496.011 496.011;"><g><g><g><path d="M408,180.107c-4.418,0-8,3.582-8,8v263.904H16v-384h320c4.418,0,8-3.582,8-8s-3.582-8-8-8H8c-4.418,0-8,3.582-8,8v400     c0,4.418,3.582,8,8,8h400c4.418,0,8-3.582,8-8V188.107C416,183.688,412.418,180.107,408,180.107z"></path><path d="M493.728,30.411c-3.093-3.163-8.165-3.221-11.328-0.128L168.464,336.387L62.016,214.747     c-2.684-3.51-7.704-4.18-11.214-1.496s-4.18,7.704-1.496,11.214c0.218,0.286,0.456,0.556,0.711,0.81l112,128     c1.435,1.647,3.482,2.636,5.664,2.736H168c2.092,0.004,4.102-0.812,5.6-2.272l320-312     C496.763,38.646,496.821,33.574,493.728,30.411z"></path>

</svg></span>
                <p class="u-text u-text-4"> Utiliser de l'équipement qui permet de purifier l'air, ou déshumidifier l'air.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-radius-28 u-repeater-item u-shape-round u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-valign-bottom-xl u-container-layout-4"><span class="u-icon u-icon-circle u-text-black u-white u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496.011 496.011" style=""><use xlink:href="#svg-67d8"></use></svg><svg class="u-svg-content" viewBox="0 0 496.011 496.011" x="0px" y="0px" id="svg-67d8" style="enable-background:new 0 0 496.011 496.011;"><g><g><g><path d="M408,180.107c-4.418,0-8,3.582-8,8v263.904H16v-384h320c4.418,0,8-3.582,8-8s-3.582-8-8-8H8c-4.418,0-8,3.582-8,8v400     c0,4.418,3.582,8,8,8h400c4.418,0,8-3.582,8-8V188.107C416,183.688,412.418,180.107,408,180.107z"></path><path d="M493.728,30.411c-3.093-3.163-8.165-3.221-11.328-0.128L168.464,336.387L62.016,214.747     c-2.684-3.51-7.704-4.18-11.214-1.496s-4.18,7.704-1.496,11.214c0.218,0.286,0.456,0.556,0.711,0.81l112,128     c1.435,1.647,3.482,2.636,5.664,2.736H168c2.092,0.004,4.102-0.812,5.6-2.272l320-312     C496.763,38.646,496.821,33.574,493.728,30.411z"></path>

              </svg></span>
                <p class="u-text u-text-5"> Éteindre les équipements informatique lorsqu'ils ne sont plus utilisé.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



{% endblock %}
