{% extends 'base.html.twig' %}

{% block title %}Hello ChartController!{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/assets/css/chart.css">
{% endblock %}

{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="/assets/js/chart.js"></script>

    <div class="content">
        <div class="chart_content">
            <canvas id="myChart"></canvas>
        </div>
    </div>

{% endblock %}
